#main {
  display: flex;
  justify-content: center;
}

#url-results-div {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#history-div {
  flex: 1;
}